.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0458D6;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 43px;
  z-index: 999;
}

.nav .logo img {
  width: 40px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 80%;
}

.nav ul li {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.nav ul li .link {
  color: #F7F9FD;
  font-family: 'Montserrat';
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9em;
}

.nav ul li .link.active {
  color: #07D3E3;
  font-weight: 700;
}

button.link {
  border: none;
  background-color: transparent;
  color: #F7F9FD;
  cursor: pointer;
}
